/* Colors are defined in RGB value and will be transformed to RGBA by the <alpha-value> placeholder in tailwind.config.js for opacity support */
/* see https://tailwindcss.com/docs/customizing-colors#using-css-variables for additional information */
/* Values are heavily based on https://tailwindcss.com/docs/customizing-colors */

@layer base {
    :root,
    .theme-light {
        /* THEME COLORS */
        --color-rva-50: 209 242 255; /* #D1F2FF */
        --color-rva-100: 163 229 255; /* #A3E5FF */
        --color-rva-200: 118 214 255; /* #76D7FF */
        --color-rva-300: 72 203 255; /* #48CAFF */
        --color-rva-400: 26 189 255; /* #1ABDFF */
        --color-rva-500: 0 167 234; /* #00A7EA */
        --color-rva-600: 0 133 187; /* #0085BB */
        --color-rva-700: 0 100 141; /* #00648D */
        --color-rva-800: 0 67 94; /* #00435E */
        --color-rva-900: 0 33 47; /* #00212F */

        --color-rva-neutral-50: 250 250 250;/* #FAFAFA */
        --color-rva-neutral-100: 245 245 245;/* #F5F5F5 */
        --color-rva-neutral-200: 229 229 229;/* #E5E5E5 */
        --color-rva-neutral-300: 212 212 212;/* #D4D4D4 */
        --color-rva-neutral-400: 163 163 163;/* #A3A3A3 */
        --color-rva-neutral-500: 115 115 115;/* #737373 */
        --color-rva-neutral-600: 82 82 82;/* #525252 */
        --color-rva-neutral-700: 64 64 64;/* #404040 */
        --color-rva-neutral-800: 38 38 38;/* #262626 */
        --color-rva-neutral-900: 23 23 23;/* #171717 */
        --color-rva-neutral-950: 10 10 10;/* #0A0A0A */


        /* SEMANTIC COLORS */
        --color-error-50: 229 115 115;
        --color-error-100: 244 67 54;
        --color-error-150: 211 47 47;

        --color-success-50: 129 199 132;
        --color-success-100: 102 187 106;
        --color-success-150: 56 142 60;

        --color-warning-50: 255 183 77;
        --color-warning-100: 255 167 38;
        --color-warning-150: 245 124 0;

        --color-info-50: 79 195 247;
        --color-info-100: 41 182 246;
        --color-info-150: 2 136 209;
    }

    .theme-dark {
        --color-text-base: 16 3 3;
        --color-fill: 224 1 1;
    }
}
